@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #fcd5ce;
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    margin-bottom: 600px;
}

footer {
    background-color: #ef476f;
    color: #073b4c;
    padding-top: 24px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
}

img {
    height: 200px;
    box-shadow: 0 2px 4px 2px #06d6a0;
    transition: 2s;
}

nav {
    border-color: #ffd166;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding: 16px;
}

a:hover {
    color: #ff006e;
    font-weight: bold;
}

.page-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-row-start: 1;
    column-gap: 16px;
}

a {
    color: #073b4c;
    text-decoration: none;
}

h1 {
    color: #06d6a0;
    font-weight: bold;
}

nav {
    background-color: #ffd166;
}

tr:nth-child(even) {
    background-color: rgb(155, 198, 239);
}
